<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todos_object.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todos_object.items.all %}
                        <tr>
                            <a href="{% url 'todos_object' todo_list.id %}"></a>
                        </tr>
                        <td>{{ todo_list.task }}</td>
                        <td>{{ todo_list.due_date }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
